@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#map {
  height: 400px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.nav-header {
  @extend .capitalize;
  text-decoration: none;
  color: white;
  font-size: 32px !important;
}

@media (max-width: 768px) {
  .nav-collapse {
    visibility: visible;
  }
}

.nav-text {
  @extend .capitalize;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.bg-darkest {
  background-color: #1c1c1c;
}

.bg-darker {
  background-color: #262626;
}

.bg-prettydark {
  background-color: #363636;
}

.weather {
  h1 {
    color: green;
  }

  @mixin define-temp($name, $color) {
    .temp-#{$name} {
      color: #{$color};
    }
  }

  @include define-temp('freezing', aqua);
  @include define-temp('cold', cornflowerblue);
  @include define-temp('lukewarm', darksalmon);
  @include define-temp('warm', coral);
  @include define-temp('hot', red);
  @include define-temp('scorching', darkred);

  text-transform: capitalize;
  font-family: monospace !important;
  margin: 5px;
  padding: 10px;
}
.weather-box {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}