.row
    footer
        nav.navbar
            a.navbar-brand(href="/")
                img.d-inline-block.align-text-top(src="https://should-you-ride.herokuapp.com/favicon-32x32.png" alt="")
                span Should You Ride?