.row
    footer.p-3
        nav.navbar.navbar-expand-sm
            .container-fluid.animate__animated.animate__backInUp
                a.navbar-brand(href="https://should-you-ride.herokuapp.com")
                .copyright Copyright © 2021 - Should You Ride - Created with love by 
                    | 
                    a(style="color: green; text-decoration: none;" href="https://github.com/Yovez") 
                        b Yovez