.row.animate__animated.animate__backInDown
  nav.navbar.navbar-expand-lg
    .container-fluid.p-3
      .px-2
        a.navbar-brand.nav-header(href="https://should-you-ride.herokuapp.com")
          img(src="https://should-you-ride.herokuapp.com/favicon-32x32.png")
          |  Should You Ride?
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation")
          .navbarIcon(style="color: white")
            +icon("bi-list")
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav
          li.nav-item
            .px-4
              a.nav-text(href="https://should-you-ride.herokuapp.com") Home
          li.nav-item
            .px-4
              a.nav-text(href="https://should-you-ride.herokuapp.com/contactus") Contact Us
          li.nav-item
            .px-4
              a.nav-text(href="https://should-you-ride.herokuapp.com/about") About
          li.nav-item
            .px-4
              if user
                a.nav-text.dropdown-toggle#navbarDropdown(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{user.username}
                ul.dropdown-menu(aria-labelledby="navbarDropdown")
                  li
                    a.dropdown-item(href="https://should-you-ride.herokuapp.com/settings") Settings
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href="https://should-you-ride.herokuapp.com/logout") Logout
              else
                .nav-text
                  if page === "register"
                    a.active(href="https://should-you-ride.herokuapp.com/register") Register
                  else
                    a.nav-text(href="https://should-you-ride.herokuapp.com/register") Register