header.p-3
  .container
      ul.nav.justify-content-center.col-12.col-lg-auto.me-lg-auto.mb-md-0
        li.px-4
          h1.display-6
            a.nav-link.text-white(href="/") Home
        li.px-4
          h1.display-6
            a.nav-link.text-white(href="#") FAQs
        li.px-4
          h1.display-6
            a.nav-link.text-white(href="#") About
        li.px-4
          h1.display-6
            a.nav-link.text-white(href="/contactus") Contact Us