header.p-3
  .container
      ul.nav.justify-content-center.col-12.col-lg-auto.me-lg-auto.mb-md-0
        li
          a.nav-link.px-4.text-white(href="/") Home
        li
          a.nav-link.px-4.text-white(href="#") FAQs
        li
          a.nav-link.px-4.text-white(href="#") About