.row
  header.p-3
    nav.navbar.navbar-expand-sm
      .container-fluid
        a(href="https://should-you-ride.herokuapp.com" style="text-decoration: none; color: white; font-size: 24px")
          img(src="https://should-you-ride.herokuapp.com/favicon-32x32.png")
          |  Should You Ride?
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation")
          .navbarIcon(style="color: white")
            +icon("bi-list")
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.justify-content-center.col-12.col-lg-auto.me-auto.mb-md-0
            li.nav-item.px-4
              h1.display-6
                if page === "home"
                  a.nav-link.active(href="https://should-you-ride.herokuapp.com") Home
                else
                  a.nav-link.text-white(href="https://should-you-ride.herokuapp.com") Home
            li.nav-item.px-4
              h1.display-6
                if page === "faqs"
                  a.nav-link.active(href="https://should-you-ride.herokuapp.com/#faq") FAQs
                else
                  a.nav-link.text-white(href="https://should-you-ride.herokuapp.com/#faq") FAQs
            li.nav-item.px-4
              h1.display-6
                if page === "about"
                  a.nav-link.active(href="https://should-you-ride.herokuapp.com/#about") About
                else
                  a.nav-link.text-white(href="https://should-you-ride.herokuapp.com/#about") About
            li.nav-item.px-4
              h1.display-6
                if page === "contactus"
                  a.nav-link.active(href="https://should-you-ride.herokuapp.com/contactus") Contact Us
                else
                  a.nav-link.text-white(href="https://should-you-ride.herokuapp.com/contactus") Contact Us