extends layout

block content
    .row
        .col-sm-4
        .col.sm-4
            h1.display-1 Login
            br
            form(method="POST" action="")
                .mb-3
                    label(for="emailInput").form-label Email Address
                    input(name="email" type="email" value=email).form-control#emailInput
                    if errors && errors.email
                        label.text-danger #{errors.email.msg}
                .mb-3
                    label(for="passwordInput" value=password).form-label Password
                    input(name="password" type="password").form-control#passwordInput
                    .form-text Case sensitive 
                        | - 
                        a(href="https://should-you-ride.herokuapp.com/forgotpassword") Forgot password?
                    if errors && errors.password
                        label.text-danger #{errors.password.msg}
                        br
                button(type="submit").btn.btn-primary.btn-lg Login
        .col-sm-4