.row.animate__animated.animate__backInDown
  nav.navbar.navbar-expand-lg
    .container-md.p-3
      .px-2
        a.navbar-brand.nav-header(href="https://should-you-ride.herokuapp.com")
          img(src="https://should-you-ride.herokuapp.com/favicon-32x32.png")
          |  Should You Ride?
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation")
          .navbarIcon(style="color: white")
            +icon("bi-list")
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav
          li.nav-item
            .px-4
              a.nav-text(href="https://should-you-ride.herokuapp.com") Home
          li.nav-item
            .px-4
              a.nav-text(href="https://should-you-ride.herokuapp.com/contactus") Contact Us
          li.nav-item
            .px-4
              a.nav-text(href="https://should-you-ride.herokuapp.com/about") About
          li.nav-item
            .px-4
              a(href="https://www.buymeacoffee.com/yovez")
                img(src="https://img.buymeacoffee.com/button-api/?text=Buy me a Pizza :)&emoji=🍕&slug=yovez&button_colour=40DCA5&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00")